@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.home-container {
    display: flex;  /* This ensures the text and image sections are in a row */
    align-items: center;  /* This aligns items vertically in the center */
    justify-content: center;  /* This centers the items horizontally */
    background-color: #FFFFFF;  /* Background color set to white */
    padding: 20px;  /* Added padding around the entire container */
    height: 100vh;  /* Makes height 100% of the viewport height */
    width: 100vw;  /* Makes width 100% of the viewport width */
}

.inner-container {
    background-color: #E6E1D0;  /* Light beige background */
    border-radius: 15px;  /* Rounded corners */
    height: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  /* Optional: adds shadow for depth */
    display: flex;
    flex-direction: row;
    align-items: center;  /* Centers content vertically */
    padding-left: 4rem;
}


.text-section {
    flex: 1; 
    color: #515638;
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: column;
}

.text-section h1, .text-section h3 {
    margin: 0 0 10px 0;
    font-family: 'Forum', cursive;
}

.text-section h4, .text-section p, .text-section ul {
    margin: 0 0 10px 0;
}

.text-section ul {
    padding-left: 20px;
}

.text-section li {
    line-height: 1.6;
}

.image-section {
    display: flex;
    justify-content: flex-end;  
    padding: 20px;
}

.image-section img {
    width: 100%;  
    max-width: 400px;  
    height: auto;  
}

